.Call-Btn{
  font-family: "Roboto Condensed", cursive;
  border-radius:5ch;
  color:black;
  font-size: large;
  font-weight: bold;
  transition: 0.5s;
  float: center;
  text-align: center;
  display: block;
}
.Call-Btn.hover{
  font-family: "Roboto Condensed", cursive;
  background:black  ;
  border-radius:5ch;
  font-size: large;
  font-weight: bold;
  transition: 0.5s;
  float: right;
}

html{
  scroll-behavior: smooth;
}
* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

body {
  
  background-color:white;
}
nav {
  background: white;
  height: 80px;
  width: 100%;
}
label.logo {
  color: white;
  font-weight: normal;
  font-family: ntr;
  align-content: center;
  background-color: white;
  filter: drop-shadow(2px 4px 8px );
}
label.logo {
  font-size: 20px;
  padding-left: 50px;
  padding-right: 0;
  font-family:Roboto Condensed;
  align-content: center;
  margin-left: -45px;
}
nav ul {
  float: right;
  margin-right: 20px;
}
nav ul li {
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}
nav ul li a {
  font-family: Roboto Condensed;
  color: black;
  font-size: 17px;
  padding: 7px 13px;
  border-radius: 3px;
  text-transform: uppercase;
}
a.active,
a:hover {
  font-family: "Roboto Condensed", cursive;
  background: white;
  color: black;
  font-size: large;
  font-weight: bold;
  transition: 0.5s;

}
.checkbtn {
  font-size: 30px;
  color: white;
  float: left;
  line-height: 80px;
  margin-left: 10px;
  margin-right: 40px;
  cursor: pointer;
  margin-top: 9px;
}
.checkbtn1 {
  font-size: 30px;
  color: white;
  float: right;
  line-height: 80px;
  margin-left: 10px;
  margin-top: 10px;
  margin-right: 20px;
  cursor: pointer;
}

#check {
  display: none;
  margin-top: 10%;
}
@media (max-width: 952px) {
  label.logo {
    font-size: 20px;
    padding-left: 20px;
  }
  nav ul li a {
    font-size: 16px;
  }
}
@media (max-width: 858px) {
  .checkbtn {
    display: block;
    color: black;
  }
  
  ul {
    position: fixed;
    width: 100%;
    height: 100vh;
    background:white;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all 0.5s;
  }
  nav ul li {
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }
  nav ul li a {
    font-size: 20px;
  }
  a:hover,
  a.active {
    background: none;
    color: black;
  }
  #check:checked ~ ul {
    left: 0;
  }
}
.IIT-Font{
  font-family: Roboto Condensed !important;
  font-style: italic ;
  font-size: medium;
  font-size: 120%;
  margin-top: 25%;
}
.IIT{
  font-family: Roboto Condensed !important;
  font-size: medium;
  font-size: 120%;
  margin-top: 25%;
  text-align: center;
margin-top: 0%;
}
.Main-Paragraph1{
  text-align: center;
  font-family: roboto condensed;
}
.Main-Paragraph{
  font-weight:800;
  font-family: roboto condensed;
}
/*Container Styling*/
.column{
  float:left;
  width:33.33%;
  padding:5px;
  font-family: roboto condensed!important;
  font-weight: 800;
 
}
.row::after{
  content:"";
  clear:both;
  display:table
}
@media screen and (max-width:500px){
  .column{
    width:100%
  }
  }
  /*Container-Styling-Font-Size*/
 .Left-Container{
margin-top: 20%;
font-family: Roboto Condensed !important;
  }
/*Header-Image-Styling*/
.Header-1{
max-width: 100% !important;
height: auto;
}
/*Container Styling*/
.column1{
  float:left;
  width:50%;
  font-family: roboto condensed !important;
  font-weight: 800;
 text-align: center;
}
.row::after1{
  content:"";
  clear:both;
  display:table;
  
}
@media screen and (max-width:500px){
  .column1{
    width:100%
  }
  }
  /*Container Styling*/
.column2{
  float:left;
  width:33.3%;
  padding:20px;
  font-family: roboto condensed !important;
  font-weight: 800;
}
.row2::after{
  content:"";
  clear:both;
  display:table
}
@media screen and (max-width:500px){
  .column2{
    width:100%
  }
  }
  /*Image-Styling*/
  /*Image-2-Styling*/
   .Image-2{
      margin: 0%;      
      margin-top: 20%;
      max-width: 100%;
      border-style:solid;
      border-color: black;
      border-radius: 20%;
      -webkit-border-radius: 20%;
      -moz-border-radius: 20%;
      -ms-border-radius: 20%;
      -o-border-radius: 20%;
} 
      
         .color{
           color: #29465B;
           font-size: x-large;
         }
    .container{
      max-width:100% ;
      align-items: center;
      text-align: center;
      
    }
    .container1{
    text-align: center;
    background-color: #29465B;
    }
/*A-Z-Styling*/
.A-Z{
  font-family: roboto condensed;
  text-align: center;
  font-weight: 400;
  background-color: #29465B;
  color: white;
}

button{
  font-family: roboto condensed;
background-color: 	#29465B;
color: white;
padding: 2%;
text-transform: 0.5ms;
font-size: large;
}
button.hover{
  font-family: roboto condensed;
  background-color: 	#29465B;
  color: white;
  padding: 2%;
}
/*Image align*/
.image-3{
  width: 20%;
  max-width: 100%;
  border-style:solid;
  border-color: black;
  border-radius: 20%;
  -webkit-border-radius: 20%;
  -moz-border-radius: 20%;
  -ms-border-radius: 20%;
  -o-border-radius: 20%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
/*Container-3-Styling*/
.column4{
  float:left;
  width:50%;
  padding:10%;
  font-family: roboto condensed !important;
  font-weight: 800;
}
.row::after{
  content:"";
  clear:both;
  display:table
}
@media screen and (max-width:500px){
  .column4{
    width:100%
  }
  }
 
  
  
  /*Container-3-Styling*/
.column6{
  float:left;
  width:25%;
  padding:3%;
  font-family: roboto condensed !important;
  font-weight: 800;
  
}
.row::after{
  content:"";
  clear:both;
  display:table
}
@media screen and (max-width:500px){
  .column6{
    width:100%
  }
  }
  .column-7{
    float: left;
    width:33.33%;
    padding:3%;
    font-family: roboto condensed !important;
    font-weight: 100;
  }
  .column-9{
    float: right;
    width:33.33%;
    padding:3%;
    font-family: roboto condensed !important;
    font-weight: 100;
  }
  .column-8{
    float: right;
    width:33.33%;
    padding:3%;
    font-family: roboto condensed !important;
    font-weight: 100;
  }
  .row::after{
    content:"";
    clear:both;
    display:table;
  }
  @media screen and (max-width:500px){
    .column-7{
      width:100%;
    }
    .column-8{
      width:100%;
    }
    .column-9{
      width:100%;
    }
    }
  /*image05 styling*/
  .image-5{
    border-radius: 30%;
    border-color: black;
    margin-left: -10%;
    margin-bottom: -30%;
    margin-top: -10%;
    max-width: 100%;
    -webkit-border-radius: 30%;
    -moz-border-radius: 30%;
    -ms-border-radius: 30%;
    -o-border-radius: 30%;
}
  .contact{
    font-family: roboto condensed;
    font-weight: 500;
    text-align: center;
    margin-right:3%;
  }
  .Main-Paragraph7{
    font-family: roboto condensed;
    font-size: 15px;
  }

span{
  color: white;
  size: 20px;
}


  .footer{
    background-color: #29465B;
  }
  /*about us            
  
  
  
  
  
  
  
  
  
  
  Styling*/
.head{
  background-image: url(./Nine-Education-Suhas-Files/20.jpg);
  background-size: cover;
  height: 456px;
  font-size:xx-large;
  color: white;
  font-family: roboto condensed;
  font-weight: 400;
  text-align: center;
}
.text-about{
  padding-top: 10%;
  margin-left: 0%;
}
/*Container-3-Styling*/
.column11{
  float:left;
  width:50%;
  padding:10%;
  font-family: roboto condensed !important;
  font-weight: 600;
}
.row::after{
  content:"";
  clear:both;
  display:table
}
@media screen and (max-width:500px){
  .column11{
    width:100%
  }
  }
  /*Container-3-Styling*/
.column12{
  float:left;
  width:50%;
  padding:10%;
  font-family: roboto condensed !important;
  font-weight: 600;
  margin-top:3%;
}
.row::after{
  content:"";
  clear:both;
  display:table
}
@media screen and (max-width:500px){
  .column12{
    width:100%
  }
  }
   

  .row11{
    margin-top: -3%;
  }


  .column10{
    float:left;
    margin-left: 1%;
    width:15%;
    font-family: roboto condensed !important;
    font-weight: 600;
    margin-top:3%;
  }
  .row::after{
    content:"";
    clear:both;
    display:table
  }
  @media screen and (max-width:500px){
    .column10{
      max-width:100%
    }
    }
    
  .image-7{
    margin-top: -10%;
    max-width: 100%;
  }
  .image-8{
    margin-top: -20%;
    max-width: 100%;
  }
  
 .row111{
  height:258px;
  background-image: url(./Nine-Education-Suhas-Files/23.jpg);
  background-size: cover;
  background-position: center;
  padding: 8%;
  font-family: roboto condensed;
  font-size: xx-large;
  color: white;
  text-decoration: underline;
 }
 .row112{
  height:258px;
  background-image: url(./Nine-Education-Suhas-Files/45.jpg);
  background-size: cover;
  background-position: center;
  padding: 8%;
  font-family: roboto condensed;
  font-size: xx-large;
  color: white;
  text-decoration: underline;
 }
 .image-9{
  max-width: 100%;
  border-radius: 2%;
  padding: 5%;
  width: 50%;
  -webkit-border-radius: 2%;
  -moz-border-radius: 2%;
  -ms-border-radius: 2%;
  -o-border-radius: 2%;
}







.main{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 50px;
}
.img-box{
  width: 300px; 
  margin: 10px;
  transition: all .5s;
  cursor: pointer;
}
.img-box img{
  width: 100%;
}
.img-box:hover{
  transform: scale(1.05);
}

.window{
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  pointer-events: none;
  background: rgba(0, 0, 0, 0.857);
  transition: all 0.8s;
}
.window.open{
  opacity: 1;
  pointer-events: all;
}
.window img{
  width: 100%;
}
@media(max-width: 1100px){
  .window .full-img{
      width: 80%;
  }
}

/*Container-3-Styling*/
.row13{
  float:left;
  width:50%;
  
  font-family: roboto condensed !important;
  font-weight: 600;
}
.row5::after{
  content:"";
  clear:both;
  display:table
}
@media screen and (max-width:500px){
  .row13{
    width:100%
  }
  }

.image-10{
  padding-left:10%;
  border-radius: 10px;
  max-width: 90%;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}